**function**

- function is a block or piece of code can use multiple times
- function is used to re use the same task multiple times
- every function needs a name 
  - the name is used to call the function 
   -the same variable rules are applicable to **function names**
- function name can not be any variable name which already using
- function name can not be module or package name
- function name can not be your file name

In [ ]:
def<fun_name>():
    <write your code here>

In [1]:
def greet():
    print('hello good eve')

In [ ]:
# we need to call the function
print()
type()
sum()
len()
max()
min()

In [2]:
greet

In [3]:
greet()

hello good eve

In [4]:
def driver():
    print('driver come here')
    print('i am coming')

In [5]:
driver()

driver come here
i am coming

In [6]:
def teacher():
    print('complete work')
    print('fast')

In [7]:
teacher()

complete work
fast

In [8]:
# spot on
def new_employee():
    a=100
    b=200
    c=aa+bb
    print(c)

In [9]:
new_employee

In [10]:
new_employee()

NameError: name 'aa' is not defined

- define the function it will not through any error
- untill unless we call the function

In [12]:
spot on-2
a=100

SyntaxError: invalid syntax (1823288930.py, line 1)

In [ ]:
b=200

In [11]:
c=a+b
c

NameError: name 'a' is not defined

In [ ]:
# wap ask the user enter three numbers and find the avg
# wap ask the user enter salaryand tax_per and cal tax_amount
# wap ask the use rto find the area of circle
# wap ask the user to find the even and odd
# wap ask the user enter a n1,take random n2
# if both match print won
# otherwise fail

In [13]:
a=eval(input('enter the value of a:'))
b=eval(input('enter the value of b:'))
c=eval(input('enter the value of c:'))
avg=(a+b+c)/3
print('avg of ',avg)

enter the value of a: 10
enter the value of b: 20
enter the value of c: 30

avg of  20.0

In [14]:
def AVERAGE():
    a=eval(input('enter the value of a:'))
    b=eval(input('enter the value of b:'))
    c=eval(input('enter the value of c:'))
    avg=(a+b+c)/3
    print('avg of ',avg)

In [15]:
AVERAGE()

enter the value of a: 10
enter the value of b: 20
enter the value of c: 30

avg of  20.0

In [16]:
salary=eval(input('enter the salary amount'))
tax_per=eval(input('enter the tax amount'))
tax_amount=salary*tax_per/100
print('tax_amount',tax_amount)

enter the salary amount 10000
enter the tax amount 10

tax_amount 1000.0

In [17]:
def TAXAMOUNT():
    salary=eval(input('enter the salary amount'))
    tax_per=eval(input('enter the tax amount'))
    tax_amount=salary*tax_per/100
    print('tax_amount',tax_amount)

In [18]:
TAXAMOUNT()

enter the salary amount 10000
enter the tax amount 10

tax_amount 1000.0

In [ ]:
lenghth=eval(input('enter the lenghth of a circle'))
breadth=eval(input('enter the breadth of a circle'))
area_of_circle=0.5*length*breadth
print('area_of_circle',area_of_circle)

In [19]:
import math
def AREA_OF_CIRCLE():
    pi=math.pi
    r=eval(input('enter radius'))
    area_of_circle=pi*r*r
    print('area_of_circle',area_of_circle)

In [21]:
AREA_OF_CIRCLE()

enter radius 10

area_of_circle 314.1592653589793

In [28]:
def AVERAGE1():
    try:
        
        a=eval(input('enter the value of a:'))
        b=eval(input('enter the value of b:'))
        c=eval(input('enter the value of c:'))
        avg=(aa+b+c)/3
        print('avg of ',avg)

SyntaxError: incomplete input (1047812929.py, line 8)

In [29]:
AVERAGE1()

NameError: name 'AVERAGE1' is not defined

In [ ]:
AVERAGE()
TAX_CAL()
area_of_circle()
even_odd()

In [2]:
import random
def even_odd():
    if num%2==0:
        print(f'the {num} is even')
else:
    print(f'the{num} is odd')

SyntaxError: invalid syntax (4161979937.py, line 5)

In [5]:
import random
def Even_odd():
    num=random.randint(1,100)
    if num%2==0:
        print(f'the{num} is even')
    else:
        print(f'the{num} is odd')
Even_odd()

the95 is odd

NameError: name 'num' is not defined

**functions with Arguements**
- How many variables are there in function AVERAGE
  - n1,n2,n3 and avg
- how many are input variables
  - n1,n2 and n3
- how many are out put variable
 - avg
- dont touch the out put variables

In [12]:
def AVERAGE():
    a=eval(input('enter the value of a:'))
    b=eval(input('enter the value of b:'))
    c=eval(input('enter the value of c:'))
    avg=(a+b+c)/3
    print('avg of ',avg)

In [13]:
AVERAGE()

enter the value of a: 10
enter the value of b: 20
enter the value of c: 30

avg of  20.0

In [14]:
def TAXAMOUNT(salary,tax_per):
    salary=eval(input('enter the salary amount'))
    tax_per=eval(input('enter the tax amount'))
    tax_amount=salary*tax_per/100
    print('tax_amount',tax_amount)

In [16]:
TAXAMOUNT()

enter the salary amount 10000
enter the tax amount 5

tax_amount 500.0

**default Arguments**

- default arguements means some arguments values are fixed

In [17]:
def ADD(a,b,c):
    print(a)
    print(b)
    print(c)
    summ=a+b+c
    print(summ)
ADD(10,20,30)

10
20
30
60

In [18]:
def ADD(a,b,c=50):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(summ)
ADD(10,20,100)

a: 10
b: 20
c: 100
130

In [3]:
def ADD(n1,n2=20,n3):
    print('n1:',n1)
    print('n2:',n2)
    print('n3:',n3)
    summ=n1+n2+n3
    print(summ)
ADD(10,20)

SyntaxError: parameter without a default follows parameter with a default (2518561202.py, line 1)

In [19]:
def ADD(a=50,b,c):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(summ)
ADD(10,20)

SyntaxError: parameter without a default follows parameter with a default (2923327391.py, line 1)

**always keep default arguements at last**

In [21]:
def ADD(b,c,a=50):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(summ)
ADD(10,20)

a: 50
b: 10
c: 20
80

In [1]:
def ADD(n1,n2,n3=10):
    print('n1',n1)
    print('n2',n2)
    print('n3',n3)
    add=n1+n2+n3
    print(add)
ADD(10,30)

n1 10
n2 30
n3 10
50

In [ ]:
# wap ask the user enter three numbers and find the avg
# wap ask the user enter salaryand tax_per and cal tax_amount
# wap ask the use rto find the area of circle
# wap ask the user to find the even and odd
# wap ask the user enter a n1,take random n2
# if both match print won
# otherwise fail

In [1]:
n1=eval(input('enter the  value of n1:'))
n2=eval(input('enter the value of n2:'))
n3=eval(input('enter the value of n3:'))
average=n1+n2+n3/3
print('the average of three numbers',average)

enter the  value of n1: 12
enter the value of n2: 18
enter the value of n3: 20

the average of three numbers 36.666666666666664

In [2]:
def AVERAGE():
    n1=eval(input('enter the  value of n1:'))
    n2=eval(input('enter the value of n2:'))
    n3=eval(input('enter the value of n3:'))
    average=n1+n2+n3/3
    print('the average of three numbers',average)

In [4]:
AVERAGE()

enter the  value of n1: 12
enter the value of n2: 18
enter the value of n3: 20

the average of three numbers 36.666666666666664

In [7]:
try:
    def AVERAGE2():
        n1=eval(input('enter the  value of n1:'))
        n2=eval(input('enter the value of n2:'))
        n3=eval(input('enter the value of n3:'))
        average=n111+n2+n3/3
        print('the average of three numbers',average)
except Exception as e:
    print(e)

In [6]:
AVERAGE2()

NameError: name 'AVERAGE2' is not defined

In [8]:
AVERAGE1()

enter the  value of n1: 10
enter the value of n2: 20
enter the value of n3: 20

NameError: name 'n111' is not defined

In [12]:
import math
def AREA_OF_CIRCLE():
    """
    Im doing area of circle
    with out arguement
    """
    pi=math.pi
    r=eval(input('enter the radius:'))
    area_of_circle=pi*r*r
    print('area of a cicle is:',area_of_circle)

In [13]:
AREA_OF_CIRCLE()

enter the radius: 100

area of a cicle is: 31415.926535897932

In [6]:
def AVERAGE5(n1,n2=20,n3):
    # n1=eval(input('enter the  value of n1:'))
    # n2=eval(input('enter the value of n2:'))
    # n3=eval(input('enter the value of n3:'))
    average=(n1+n2+n3)/3
    print('the average of three numbers',average)

In [10]:
AVERAGE5(10,10)

TypeError: AVERAGE5() missing 1 required positional argument: 'n3'

- functions with out arguments
- functions with arguement
- functions with default arguements

**local-global variables**
- local variables define inside the function
  - local variables can not use out side the function 
  -**addittion** is a local variable concept
  - In that the variable summ we can not print out side 
- Global variable define out side the funcftion
- global variables can be use anywhere in the scrypt
- global variables can be use multiple functions

In [13]:
def ADDITTION():
    a=10
    b=20
    c=30
    summ=a+b+c
    print(F'the addittion of {a},{b} and {c}are:{summ}')
ADDITTION()

the addittion of 10,20 and 30are:60

In [15]:
n11=100
n22=200
n33=300
def ADDITTION():
    summ1=n11+n22+n33
    print(f'the addittion of {n11},{n22} and{n33} are :{summ1}')
ADDITTION()

the addittion of 100,200 and300 are :600

In [43]:
n11

100

In [17]:
n11

100

In [18]:
n33

300

In [19]:
n3

NameError: name 'n3' is not defined

In [20]:
# global variables mean: pan india
# local variables means:local hero,local====global
n11=100
n22=200
n33=300
def ADDITTION():
    global summ2
    summ2=n11+n22+n33
    print(f'the addittion of {n11},{n22} and{n33} are :{summ2}')
ADDITTION()

the addittion of 100,200 and300 are :600

In [21]:
summ2

600

In [22]:
def ADDITTION4():
    global summ4
    a=10
    b=20
    c=30
    summ4=a+b+c
    print(F'the addittion of {a},{b} and {c}are:{summ4}')
ADDITTION4()

the addittion of 10,20 and 30are:60

In [23]:
summ4

60

In [24]:
def ADDITTION5():
    global a,b,c,summ5
    a=10
    b=20
    c=30
    summ5=a+b+c
    print(F'the addittion of {a},{b} and {c}are:{summ5}')
ADDITTION5()

the addittion of 10,20 and 30are:60

In [25]:
summ5

60

In [26]:
x=10
print(x)

10

In [27]:
print(y)
y=10

NameError: name 'y' is not defined

**unbound local error**

In [29]:
def f1():
    print(y)
    y=10
f1()

UnboundLocalError: cannot access local variable 'y' where it is not associated with a value

In [31]:
z=100 # z is a local variable in python
def f2():
    print(z)
    z=10
f2()

UnboundLocalError: cannot access local variable 'z' where it is not associated with a value

**a same variable define as global also local python consider local variable first**

In [32]:
z=100
def f3():
    print(z)
f3()

100

In [33]:
def f3():
    z=10
    print(z)
f3()

10

In [34]:
z=100
def f3():
    z=10
    print(z)
f3()

10

In [35]:
z

100

In [36]:
z=100
def f3():
    print(z)
    z=10
f3()

UnboundLocalError: cannot access local variable 'z' where it is not associated with a value

In [37]:
summ=0
def ADD():
    global summ
    a=10
    b=20
    summ=a+b
    print(summ)
ADD()

30

In [38]:
summ

30

In [41]:
summ=0
def ADD1():
    a=10
    b=20
    c=summ+b
    print(summ)
ADD1()

0

In [42]:
summ=0
def ADD1():
    a=10
    b=20
    summ=summ+b
    print(summ)
ADD1()

UnboundLocalError: cannot access local variable 'summ' where it is not associated with a value

In [57]:
summ

600

In [59]:
p=100
q=200
r=300
def addittion():
    summ=p+q+r
    print(f'the addittion of {p},{q} and {r} is:{summ}')
addittion()

the addittion of 100,200 and 300 is:600

In [60]:
summ

600

In [64]:
def addittion1():
    p=10
    q=20
    r=30
    summ=p+q+r
    print(f'the addittion of {p},{q} and {r} is:{summ}')
addittion1()

the addittion of 10,20 and 30 is:60

In [65]:
summ

600

In [66]:
p=1000
def add6(p=200):
    q=200
    r=300
    s=p+q+r
    print(s)
p=2000   
add6(p=300)    # 1000===200==2000==300

800

In [67]:
p=1000
def add5(p=300):
    q=500
    r=400
    s=p+q+r
    print(s)
add5(p=200)    # 1000==300==200

1100

In [69]:
def add4(p=200):
    q=300
    r=100
    s=p+q+r
    print(s)
p=600
add4(20)     # 200==600==20==100

420

**Return statements**

- return statements are used to return the values

- every function will do some operations

- those operations will save in one variable

- if we want to use those values outside the function we can not use

- for that we are using **global** keyword

- we can also use those values outside the function using **return**

In [5]:
def AVERAGE1(n1,n2,n3=20):
    summ=n1+n2+n3
    avg=summ/3
    print(avg)
    return(avg)
avg=AVERAGE1(10,20,30)

20.0

In [6]:
avg

20.0

In [10]:
def AVERAGE1(n1,n2,n3=20):
    summ=n1+n2+n3
    avg=summ/3
    return(avg,summ)
avg=AVERAGE1(10,20,30)
avg

(20.0, 60)

In [3]:
def AVERAGE2(n1,n2,n3=20):
    summ=n1+n2+n3
    avg=summ/3
    return(avg,sum)
avg=AVERAGE2(10,20,30)
avg

(20.0, <function sum(iterable, /, start=0)>)

In [12]:
def greet(name,age):
    print(f'my name is {name},my age is {age}')
greet('ramesh',30)

my name is ramesh,my age is 30

In [21]:
def greet(name='ramesh',age=30):
    print(f'my name is {name},my age is {age}')
greet('ramesh',30)

my name is ramesh,my age is 30

In [ ]:
def greet(name,age):
    print(f'my name is {name},my age is {age}')
greet('ramesh',30)

In [22]:
def greet1(name,/,age):
    print(f'my name is {name},my age is {age}')
greet('ramesh',30)

my name is ramesh,my age is 30

In [23]:
def greet1(name='ramesh',/,age=35):
    print(f'my name is {name},my age is {age}')
greet('ramesh',30)

my name is ramesh,my age is 30

In [25]:
def greet1(name='ramesh',age):
    print(f'my name is {name},my age is {age}')
greet('ramesh',30)

SyntaxError: parameter without a default follows parameter with a default (1024533860.py, line 1)

- before slash:**positional arguements**

  - which means position fixed
  
  - we no need to use the **variable name**
      
- after slash:**keyword arguements**
 
 - we can use the variable name
 
 - or we can provide directly

In [26]:
import math

In [27]:
math.sin(x=90)

TypeError: math.sin() takes no keyword arguments

In [28]:
math.sin(90)

0.8939966636005579

In [34]:
def greet2(name,*,age):
    print(f'my name is {name},my age is {age}')
greet2('ramesh',30)

TypeError: greet2() takes 1 positional argument but 2 were given

In [35]:
greet2('ramesh',age=30)

my name is ramesh,my age is 30

In [36]:
greet2(name='ramesh',30)

SyntaxError: positional argument follows keyword argument (4178016923.py, line 1)

In [37]:
greet2(name='ramesh',age=30)

my name is ramesh,my age is 30

In [ ]:
before *argument is our wish
after* arguemnt name is mandatory

In [41]:
def greet1(name='ramesh',/,age):
    print(f'my name is {name},my age is {age}')
greet('ramesh',30)

SyntaxError: parameter without a default follows parameter with a default (3096419672.py, line 1)

In [39]:
greet1('ramesh',/,age=30)

SyntaxError: invalid syntax (250722348.py, line 1)

In [40]:
greet1(name='ramesh',/,age30)

SyntaxError: invalid syntax (2853872995.py, line 1)

In [42]:
def greet1('ramesh',/,age=30):
    print(f'my name is {name},my age is {age}')
greet('ramesh',30)

SyntaxError: invalid syntax (2282330022.py, line 1)

In [11]:
def greet2(name,*,age):
    print(f'my name is{name},my age is{age}:')
greet2('ramesh',30)

TypeError: greet2() takes 1 positional argument but 2 were given

In [2]:
greet2('ramesh',age=30)

my name isramesh,my age is30:

In [3]:
greet2(name='ramesh',30)

SyntaxError: positional argument follows keyword argument (4178016923.py, line 1)

In [4]:
greet2(name='ramesh',age=30)

my name isramesh,my age is30:

In [6]:
def greet1(name,/,age):
    print(f'my name is{name},my age is{age}:')
greet1('ramesh',30)

my name isramesh,my age is30:

In [9]:
greet1('ramesh',age=30)

my name isramesh,my age is30:

In [12]:
greet1(name='ramesh',35)

SyntaxError: positional argument follows keyword argument (4271125735.py, line 1)

In [13]:
greet1(name='ramesh',age=30)

TypeError: greet1() got some positional-only arguments passed as keyword arguments: 'name'