- representations

- inbuilt functions

  - type

  - print

  - min

  - max

  - len

  - sum

  - reversed

- concatenation

- index operation

- mutable vs immutable

- slice

- methods

**Representations**

In [1]:
s1='python'

s2="python"

s3="i like 'python'"

s4='i like "python"'

print(s1)
print(s2)
print(s3)
print(s4)

python
python
i like 'python'
i like "python"

In [2]:
type(s1)

str

In [3]:
print(s1)

python

In [12]:
len(s1)

6

In [11]:
min(s1)

'h'

In [10]:
max(s1)

'y'

In [9]:
max(s1)

'y'

In [8]:
sum(s2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
sorted()

['h', 'n', 'o', 'p', 't', 'y']

In [14]:
#reversed(sequence, /)
reversed(sequence, /)

In [18]:
list(reversed('python'))

['n', 'o', 'h', 't', 'y', 'p']

In [20]:
ans=reversed('python')
for i in ans:
    print(i,end=' ')

n o h t y p

**iterable**

- when ever we see iterable word  recal loops

- i can print something by using loop

   - that can be string

   - that can be tuple

   - that can be list etc..

In [15]:
sorted(1234)

TypeError: 'int' object is not iterable

In [17]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

In [16]:
sorted('python',reverse=True)
#sorted(iterable, /, *, key=None, reverse=False)

['y', 't', 'p', 'o', 'n', 'h']

In [ ]:
l1=['p','y','t','h','o','n']
print(l1)

In [28]:
type(l1)

NameError: name 'l1' is not defined

**concatention**

In [22]:
s1='hai'
s2='helo'
s1+s2      
s1+' '+s2

'hai helo'

In [23]:
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [24]:
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [25]:
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
s1-s2  #TypeError: unsupported operand type(s) for -: 'str' and 'str'
s1/s2  #TypeError: unsupported operand type(s) for -: 'str' and 'str'
s1*s2  #TypeError: can't multiply sequence by non-int of type 'str'

In [26]:
s1*2

'haihai'

**index**

- index will give an idea how to access the elements in string

- function represent with normal paranthases

- access is represent with square brackets

In [31]:
s1='python'

In [ ]:
-6 -5 -4 -3 -2 -1
p  y  t  h  o  n
0  1  2  3  4  5

In [32]:
s1[0]

'p'

In [33]:
s1[-6]

'p'

In [ ]:
s1[0] # 'p'
s1[1] #'y'
s1[2]#'t'
s1[3]#'h'
s1[4]#'o'
s1[5]#'n'

s1[]i

In [34]:
for i in range(0,6):
    print(i,s1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [35]:
s1='python'
for i in s1:
    print(i,end=' ')

p y t h o n

In [37]:
s1='python'
for i in s1:
    print(s1[i],end=' ')

TypeError: string indices must be integers, not 'str'

**in vs range**

- if we want to access the elements directly use **in** operatos

  - for i in in 'python' where i is charcter

- if we want to access the elements using **range** apply **index**

  - for i in range(len('python')) where i ia a number

In [25]:
s1='python'
for i in s1:

TypeError: 'list' object cannot be interpreted as an integer

**enumerate**

-enumerate is an inbuilt functionwill give indexx and element

- in below i became index and j become element

In [27]:
s1='python'
for i,j in enumerate(s1):
    print(i,j)

0 p
1 y
2 t
3 h
4 o
5 n

In [9]:
# wap ask the user get the number of 'a' in a given string
# s1='ola ola ola'

s1='ola ola ola'
count=0
for i in s1:
    if i=='a':
        count+=1
print(f'the number of are {count}')

the number of 3

In [11]:
for i in range(len(s1)):
    if s1[i]=='a':
        count=count+1
print(f'the number of are{count}')

the number of are6

In [15]:
# wap ask the user get sum of all indexex of 'a'


sum=0
for i in range(len(s1)):
    if s1[i]=='a':
        sum=sum+i
print(f'the sum of indexes of a are {sum}')

the sum of indexes of a are 18

In [23]:
# wsap ask the user print all vowels both repeated and non repeated
# s1='hai how are you'
# 'a' 'i' 'o' 'a' 'e' 'o' 'u'

s1='hai how are you'
vo="aeiou"
for i in s1:
    if i in range(len(s1)):
        for j in vo:
            if s1[i]==j:
                print(s1[i])

In [21]:
#wap ask the user print all vowels both repeated and non repeated
# s1='hai how are you'
# 'a' 'i' 'o' 'a' 'e' 'o' 'u'
s1='hai how are you'
vowels='aeiou'
for i in s1:
    if i in vowels:
        print(i,end=' ')

a i o a e o u

In [29]:
s1='hai how are you'
for i in s1:
    if i in 'aeiou':
        print(i,end=' ')  # 1:i=

a i o a e o u

In [30]:
s1='hai how are you'  # 1: 
for i in s1:
    if i in
    print(i)

h
a
i

h
o
w

a
r
e

y
o
u

In [4]:
s1='ola ola ola'
s2=''
for i in s1:
    if i in 'aeiou' and i not in s2:
        s2=s2+i
        

# step1:i='o'
#         'o' in 'aeiou'(t) and 'a' not in ''(t)
#          s2=''+'o'='o'

# step2:i='l'
#     'l' in 'aeiou'(f)


# step3:i='a'
#         'a' in 'aeiou'(t) and 'a' not in 'o'(t)
#          s2='o'+'a'='oa'

len(s2)

2

**Mutable vs Immutable**

- Mutable:characters in a string can be change by index operations

- Immutable:characters in a string can not be change index operations

In [5]:
str1='welcome'
str1[2]='l'

TypeError: 'str' object does not support item assignment

In [5]:
str1='welcome'
l1=['w','e','l','c','o','m','e']
l1[1]='E'
l1

['w', 'E', 'l', 'c', 'o', 'm', 'e']

**slice**

- slice means a sub string in a given string

- extracting a piece of characters using **indexes**

In [ ]:
-15 -14 -13 -12 -11 -10
h   a   i             h  o  w     a  r  e       y  o  u
0   1   2   3       4  5  6  7  8  9  10  11 12 13  14